# URL untuk Python AI-Service (Rekomendasi & Opsi Data)- Isi dengan port Local/domain
VITE_API_BASE_URL="http://127.0.0.1:8000/api"

# URL untuk Laravel Backend (Otentikasi, Profil, dan Riwayat) - Isi dengan port Local/domain
VITE_LARAVEL_API_URL="http://127.0.0.1:8001/api"
